doctype html
html(lang="ja")
  head
    meta(charset='UTF-8')
    title skrollr
    meta(content='IE=edge', http-equiv='X-UA-Compatible')
    meta(content='author', name='author')
    meta(content='description', name='description')
    meta(content='keywords', name='keywords')
    meta(content='width=device-width, initial-scale=1' name='viewport')
    meta(content='telephone=no', name='format-detection')

    link(rel='stylesheet', href='styles/style.css', media='all')
  body

    header.header
      h1.header__title Parallax Scrolling with skrollr

    main
      section#slide-1.parallax
        .parallax__bg(data-anchor-target="#slide-1" data-center="background-position: 50% 0px" data-top-bottom="background-position: 50% -100px")
          .parallax__content(data-anchor-target="#slide-1 h2" data-center="opacity: 1" data-top="opacity: 0")
            h2.parallax__heading
              | Fade out elements before
              br
              | they leave viewport
            p.parallax__body Ipsum nisi molestias ea aspernatur aperiam rem dolorum? In iure nostrum dignissimos voluptate nobis! Sed ipsam voluptate itaque alias in explicabo dicta quaerat quod. Fuga praesentium qui repudiandae eligendi dignissimos.

      section#slide-2.parallax
        .parallax__bg(data-anchor-target="#slide-2" data-bottom-top="background-color: rgb(0,78,255)" data-top-bottom="background-color: rgb(0,0,0)")
          .parallax__content(data-anchor-target="#slide-2 h2" data-bottom-top="opacity: 0" data-center="opacity: 1" data-top-bottom="opacity: 0")
            h2.parallax__heading Fade me in and out
            p.parallax__body Sit recusandae omnis quam ipsam reiciendis. Tempora temporibus quia a perferendis atque officiis quam fugit autem hic! Ullam ea quam quibusdam consectetur omnis quam impedit necessitatibus quod recusandae perferendis? A.

      section#slide-3.parallax
        .parallax__bg(data-anchor-target="#slide-3" data-bottom-top="background-position: 50% 0px" data-top-bottom="background-position: 50% -100px")
          .parallax__content(data-anchor-target="#slide-3" data-200-top="opacity: 0" data-center="opacity: 1;position: fixed;")
            h2.parallax__heading Fixed element fading in and out
            p.parallax__body Dolor vero veritatis adipisci doloribus necessitatibus magnam suscipit? Numquam fugiat ratione quasi vel voluptas voluptates sunt sed inventore ratione debitis quos nulla! Labore culpa omnis laboriosam explicabo fugiat, eveniet! Iure.

      section#slide-4.parallax
        .parallax__bg(data-anchor-target="#slide-4" data-bottom-top="background-position: 50% -100px" data-center="background-position: 50% 0")
        .parallax__content(data-anchor-target="#slide-4")
          h2.parallax__heading The End
          p.parallax__body Lorem quia non aliquam repellendus perferendis aut. Optio deleniti voluptatum doloremque a voluptatem vel? Nulla ad voluptates doloribus natus fugiat velit! Expedita vero voluptas quia vero nam. Fuga quis in.

    // build:js scripts/vendor.js
    script(src='../bower_components/skrollr/dist/skrollr.min.js')
    // endbuild

    // build:js scripts/main.js
    script(src='scripts/script.js')
    // endbuild
